__pycache__/alunos.cpython-38.pyc
__pycache__/ata.cpython-38.pyc
__pycache__/disciplinas.cpython-38.pyc
__pycache__/labeltable.cpython-38.pyc
__pycache__/login.cpython-38.pyc
__pycache__/professores.cpython-38.pyc
__pycache__/sqltools.cpython-38.pyc
__pycache__/tools.cpython-38.pyc
__pycache__/treeviewtable.cpython-38.pyc
__pycache__/turmas.cpython-38.pyc
